{"swagger":"2.0","info":{"title":"CDS API Connector","description":"","version":"1.0"},"host":"org6d1b2125.crm.dynamics.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/en-US/widgets/manage/environments/72e87f56-e215-43d4-8883-5cf7ff5550f5/":{},"/":{},"/api/data/v9.0/":{},"/api/data/v9.0/cat_gtmentries":{"get":{"summary":"Get GTMEntries","description":"Get GTMEntries","operationId":"cat_gtmentries","parameters":[{"name":"$select","in":"query","required":false,"type":"string"},{"name":"$expand","in":"query","required":false,"type":"string"},{"name":"$orderby","in":"query","required":false,"type":"string"},{"name":"$top","in":"query","required":false,"type":"integer","default":100},{"name":"$filter","in":"query","required":false,"type":"string"},{"name":"Prefer","in":"header","required":false,"type":"string","default":"odata.include-annotations=\"OData.Community.Display.V1.FormattedValue\""}],"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"cat_beneficiarylob":{"type":"string","description":"cat_beneficiarylob"},"cat_lobchannelhorizontal@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_lobchannelhorizontal@OData.Community.Display.V1.FormattedValue"},"cat_lobchannelhorizontal":{"type":"integer","format":"int32","description":"cat_lobchannelhorizontal"},"cat_explainaudiencespecificcommunications":{"type":"string","description":"cat_explainaudiencespecificcommunications"},"cat_jumpeligible@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_jumpeligible@OData.Community.Display.V1.FormattedValue"},"cat_jumpeligible":{"type":"boolean","description":"cat_jumpeligible"},"cat_market@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_market@OData.Community.Display.V1.FormattedValue"},"cat_market":{"type":"boolean","description":"cat_market"},"modifiedon@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"modifiedon@OData.Community.Display.V1.FormattedValue"},"modifiedon":{"type":"string","description":"modifiedon"},"cat_brand":{"type":"string","description":"cat_brand"},"cat_replacinganexistingproduct@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_replacinganexistingproduct@OData.Community.Display.V1.FormattedValue"},"cat_replacinganexistingproduct":{"type":"boolean","description":"cat_replacinganexistingproduct"},"cat_eligibilitysummary":{"type":"string","description":"cat_eligibilitysummary"},"cat_customerimpacting@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_customerimpacting@OData.Community.Display.V1.FormattedValue"},"cat_customerimpacting":{"type":"boolean","description":"cat_customerimpacting"},"cat_activeservicerequired@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_activeservicerequired@OData.Community.Display.V1.FormattedValue"},"cat_activeservicerequired":{"type":"boolean","description":"cat_activeservicerequired"},"cat_rateplanrequirements":{"type":"string","description":"cat_rateplanrequirements"},"cat_positioningmessaging":{"type":"string","description":"cat_positioningmessaging"},"cat_deviceoem":{"type":"string","description":"cat_deviceoem"},"cat_annualgaliftestimate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_annualgaliftestimate@OData.Community.Display.V1.FormattedValue"},"cat_annualgaliftestimate":{"type":"integer","format":"int32","description":"cat_annualgaliftestimate"},"cat_designprinciples":{"type":"string","description":"cat_designprinciples"},"cat_keyfeatures":{"type":"string","description":"cat_keyfeatures"},"cat_otherpromotionsnotstackable":{"type":"string","description":"cat_otherpromotionsnotstackable"},"cat_originalcreatedondate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_originalcreatedondate@OData.Community.Display.V1.FormattedValue"},"cat_originalcreatedondate":{"type":"string","description":"cat_originalcreatedondate"},"cat_employeeeligible@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_employeeeligible@OData.Community.Display.V1.FormattedValue"},"cat_employeeeligible":{"type":"boolean","description":"cat_employeeeligible"},"cat_integration@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_integration@OData.Community.Display.V1.FormattedValue"},"cat_integration":{"type":"boolean","description":"cat_integration"},"cat_promocode":{"type":"string","description":"cat_promocode"},"cat_employeediscount@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_employeediscount@OData.Community.Display.V1.FormattedValue"},"cat_employeediscount":{"type":"boolean","description":"cat_employeediscount"},"cat_totalnetaddgoals":{"type":"string","description":"cat_totalnetaddgoals"},"_createdonbehalfby_value":{"type":"string","description":"_createdonbehalfby_value"},"cat_devicename":{"type":"string","description":"cat_devicename"},"cat_enddate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_enddate@OData.Community.Display.V1.FormattedValue"},"cat_enddate":{"type":"string","description":"cat_enddate"},"_owninguser_value":{"type":"string","description":"_owninguser_value"},"_ownerid_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_ownerid_value@OData.Community.Display.V1.FormattedValue"},"_ownerid_value":{"type":"string","description":"_ownerid_value"},"cat_anticipatedvolumetakeratesdaily":{"type":"string","description":"cat_anticipatedvolumetakeratesdaily"},"cat_devicefulfillmentinscope":{"type":"string","description":"cat_devicefulfillmentinscope"},"cat_actuallaunchdate":{"type":"string","description":"cat_actuallaunchdate"},"cat_offerlimitsconsumertfb":{"type":"string","description":"cat_offerlimitsconsumertfb"},"cat_keyinitiative@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_keyinitiative@OData.Community.Display.V1.FormattedValue"},"cat_keyinitiative":{"type":"boolean","description":"cat_keyinitiative"},"_cat_teamroles_value":{"type":"string","description":"_cat_teamroles_value"},"cat_description":{"type":"string","description":"cat_description"},"cat_keylaunch@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_keylaunch@OData.Community.Display.V1.FormattedValue"},"cat_keylaunch":{"type":"boolean","description":"cat_keylaunch"},"cat_validationcheck":{"type":"string","description":"cat_validationcheck"},"cat_desiredexecution":{"type":"string","description":"cat_desiredexecution"},"cat_promodetailslocked@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_promodetailslocked@OData.Community.Display.V1.FormattedValue"},"cat_promodetailslocked":{"type":"boolean","description":"cat_promodetailslocked"},"cat_priority":{"type":"string","description":"cat_priority"},"traversedpath":{"type":"string","description":"traversedpath"},"_owningbusinessunit_value":{"type":"string","description":"_owningbusinessunit_value"},"cat_target":{"type":"string","description":"cat_target"},"cat_supportplan":{"type":"string","description":"cat_supportplan"},"cat_eligibledevices":{"type":"string","description":"cat_eligibledevices"},"cat_planandfeaturerequirementsbuild":{"type":"string","description":"cat_planandfeaturerequirementsbuild"},"cat_initiativetypegroup@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_initiativetypegroup@OData.Community.Display.V1.FormattedValue"},"cat_initiativetypegroup":{"type":"integer","format":"int32","description":"cat_initiativetypegroup"},"cat_marketingsupportneeded":{"type":"string","description":"cat_marketingsupportneeded"},"cat_otherlimitationsandexclusions":{"type":"string","description":"cat_otherlimitationsandexclusions"},"cat_explainintegratedmarketing":{"type":"string","description":"cat_explainintegratedmarketing"},"cat_carrierfreedom@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_carrierfreedom@OData.Community.Display.V1.FormattedValue"},"cat_carrierfreedom":{"type":"boolean","description":"cat_carrierfreedom"},"cat_detailsstillopen":{"type":"string","description":"cat_detailsstillopen"},"cat_monitoring@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_monitoring@OData.Community.Display.V1.FormattedValue"},"cat_monitoring":{"type":"boolean","description":"cat_monitoring"},"cat_incrementallifttotal":{"type":"string","description":"cat_incrementallifttotal"},"cat_productnotes":{"type":"string","description":"cat_productnotes"},"cat_additionaleligibilityrequirements":{"type":"string","description":"cat_additionaleligibilityrequirements"},"cat_valueproposition":{"type":"string","description":"cat_valueproposition"},"cat_incrementalliftdaily":{"type":"string","description":"cat_incrementalliftdaily"},"cat_prcode":{"type":"string","description":"cat_prcode"},"cat_pjcode":{"type":"string","description":"cat_pjcode"},"_cat_originalcreatedbyuser_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_cat_originalcreatedbyuser_value@OData.Community.Display.V1.FormattedValue"},"_cat_originalcreatedbyuser_value":{"type":"string","description":"_cat_originalcreatedbyuser_value"},"cat_initiativetype@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_initiativetype@OData.Community.Display.V1.FormattedValue"},"cat_initiativetype":{"type":"integer","format":"int32","description":"cat_initiativetype"},"statecode@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"statecode@OData.Community.Display.V1.FormattedValue"},"statecode":{"type":"integer","format":"int32","description":"statecode"},"cat_strategicpillar":{"type":"string","description":"cat_strategicpillar"},"_modifiedonbehalfby_value":{"type":"string","description":"_modifiedonbehalfby_value"},"cat_health":{"type":"string","description":"cat_health"},"cat_tier":{"type":"string","description":"cat_tier"},"cat_voicerateplanrequirements":{"type":"string","description":"cat_voicerateplanrequirements"},"cat_gtmentryid":{"type":"string","description":"cat_gtmentryid"},"statuscode@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"statuscode@OData.Community.Display.V1.FormattedValue"},"statuscode":{"type":"integer","format":"int32","description":"statuscode"},"cat_eligibilityandexclusions":{"type":"string","description":"cat_eligibilityandexclusions"},"cat_contingency@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_contingency@OData.Community.Display.V1.FormattedValue"},"cat_contingency":{"type":"boolean","description":"cat_contingency"},"cat_ptloeswag":{"type":"string","description":"cat_ptloeswag"},"cat_expectedmarketingsupport":{"type":"string","description":"cat_expectedmarketingsupport"},"cat_day":{"type":"string","description":"cat_day"},"overriddencreatedon":{"type":"string","description":"overriddencreatedon"},"cat_preorderdate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_preorderdate@OData.Community.Display.V1.FormattedValue"},"cat_preorderdate":{"type":"string","description":"cat_preorderdate"},"cat_legacygtmentryid@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_legacygtmentryid@OData.Community.Display.V1.FormattedValue"},"cat_legacygtmentryid":{"type":"integer","format":"int32","description":"cat_legacygtmentryid"},"timezoneruleversionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"timezoneruleversionnumber@OData.Community.Display.V1.FormattedValue"},"timezoneruleversionnumber":{"type":"integer","format":"int32","description":"timezoneruleversionnumber"},"cat_productobjectives":{"type":"string","description":"cat_productobjectives"},"cat_initiativename":{"type":"string","description":"cat_initiativename"},"cat_requestedlaunchdate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_requestedlaunchdate@OData.Community.Display.V1.FormattedValue"},"cat_requestedlaunchdate":{"type":"string","description":"cat_requestedlaunchdate"},"cat_audiencespecificcommunications":{"type":"string","description":"cat_audiencespecificcommunications"},"_cat_sponsor_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_cat_sponsor_value@OData.Community.Display.V1.FormattedValue"},"_cat_sponsor_value":{"type":"string","description":"_cat_sponsor_value"},"cat_startdate":{"type":"string","description":"cat_startdate"},"cat_offerlimitstfbban":{"type":"string","description":"cat_offerlimitstfbban"},"cat_explaintargetaudiencesegment":{"type":"string","description":"cat_explaintargetaudiencesegment"},"cat_channels":{"type":"string","description":"cat_channels"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"createdon@OData.Community.Display.V1.FormattedValue"},"createdon":{"type":"string","description":"createdon"},"cat_addalinetypes":{"type":"string","description":"cat_addalinetypes"},"cat_limitedtimeoffer@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_limitedtimeoffer@OData.Community.Display.V1.FormattedValue"},"cat_limitedtimeoffer":{"type":"boolean","description":"cat_limitedtimeoffer"},"cat_initiativesubmitdate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_initiativesubmitdate@OData.Community.Display.V1.FormattedValue"},"cat_initiativesubmitdate":{"type":"string","description":"cat_initiativesubmitdate"},"cat_forecasteddate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_forecasteddate@OData.Community.Display.V1.FormattedValue"},"cat_forecasteddate":{"type":"string","description":"cat_forecasteddate"},"cat_pitch":{"type":"string","description":"cat_pitch"},"cat_desiredexecutionexplanation":{"type":"string","description":"cat_desiredexecutionexplanation"},"cat_nameofexistingproduct":{"type":"string","description":"cat_nameofexistingproduct"},"cat_localmarket":{"type":"string","description":"cat_localmarket"},"cat_category@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_category@OData.Community.Display.V1.FormattedValue"},"cat_category":{"type":"integer","format":"int32","description":"cat_category"},"cat_calendargrouping":{"type":"string","description":"cat_calendargrouping"},"cat_estimatedlaunchdate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_estimatedlaunchdate@OData.Community.Display.V1.FormattedValue"},"cat_estimatedlaunchdate":{"type":"string","description":"cat_estimatedlaunchdate"},"cat_costcorebatecode":{"type":"string","description":"cat_costcorebatecode"},"cat_mobileinternetplanrequirements":{"type":"string","description":"cat_mobileinternetplanrequirements"},"cat_presaledate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_presaledate@OData.Community.Display.V1.FormattedValue"},"cat_presaledate":{"type":"string","description":"cat_presaledate"},"cat_billname":{"type":"string","description":"cat_billname"},"importsequencenumber":{"type":"string","description":"importsequencenumber"},"_owningteam_value":{"type":"string","description":"_owningteam_value"},"cat_testing":{"type":"string","description":"cat_testing"},"_cat_businessowner_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_cat_businessowner_value@OData.Community.Display.V1.FormattedValue"},"_cat_businessowner_value":{"type":"string","description":"_cat_businessowner_value"},"cat_darkstatus@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_darkstatus@OData.Community.Display.V1.FormattedValue"},"cat_darkstatus":{"type":"boolean","description":"cat_darkstatus"},"cat_systemstack":{"type":"string","description":"cat_systemstack"},"cat_reasontobelieve":{"type":"string","description":"cat_reasontobelieve"},"cat_triagenotes":{"type":"string","description":"cat_triagenotes"},"cat_whatisitreplacing":{"type":"string","description":"cat_whatisitreplacing"},"cat_purchasetypefinancing":{"type":"string","description":"cat_purchasetypefinancing"},"cat_customerexperience":{"type":"string","description":"cat_customerexperience"},"cat_otherlaunch@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_otherlaunch@OData.Community.Display.V1.FormattedValue"},"cat_otherlaunch":{"type":"boolean","description":"cat_otherlaunch"},"cat_otherbusinessbenefit":{"type":"string","description":"cat_otherbusinessbenefit"},"cat_phase@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_phase@OData.Community.Display.V1.FormattedValue"},"cat_phase":{"type":"integer","format":"int32","description":"cat_phase"},"_createdby_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_createdby_value@OData.Community.Display.V1.FormattedValue"},"_createdby_value":{"type":"string","description":"_createdby_value"},"processid":{"type":"string","description":"processid"},"cat_promoeligibilitytool@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_promoeligibilitytool@OData.Community.Display.V1.FormattedValue"},"cat_promoeligibilitytool":{"type":"boolean","description":"cat_promoeligibilitytool"},"cat_tbd@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_tbd@OData.Community.Display.V1.FormattedValue"},"cat_tbd":{"type":"boolean","description":"cat_tbd"},"cat_totalofferspend":{"type":"string","description":"cat_totalofferspend"},"cat_threeyearnpv":{"type":"string","description":"cat_threeyearnpv"},"cat_situation":{"type":"string","description":"cat_situation"},"cat_lastdatetocancel":{"type":"string","description":"cat_lastdatetocancel"},"cat_offerrevisiondescription":{"type":"string","description":"cat_offerrevisiondescription"},"cat_numberofaddalinerequired":{"type":"string","description":"cat_numberofaddalinerequired"},"versionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"versionnumber@OData.Community.Display.V1.FormattedValue"},"versionnumber":{"type":"integer","format":"int32","description":"versionnumber"},"cat_priorityquarter":{"type":"string","description":"cat_priorityquarter"},"cat_productfunctionality":{"type":"string","description":"cat_productfunctionality"},"cat_committedlaunchdate@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_committedlaunchdate@OData.Community.Display.V1.FormattedValue"},"cat_committedlaunchdate":{"type":"string","description":"cat_committedlaunchdate"},"cat_offertype":{"type":"string","description":"cat_offertype"},"cat_subphase@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_subphase@OData.Community.Display.V1.FormattedValue"},"cat_subphase":{"type":"integer","format":"int32","description":"cat_subphase"},"cat_offerlimits":{"type":"string","description":"cat_offerlimits"},"_stageid_value":{"type":"string","description":"_stageid_value"},"cat_getoutofthered@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_getoutofthered@OData.Community.Display.V1.FormattedValue"},"cat_getoutofthered":{"type":"boolean","description":"cat_getoutofthered"},"cat_shortdescription":{"type":"string","description":"cat_shortdescription"},"cat_goalkpi":{"type":"string","description":"cat_goalkpi"},"cat_steeringmeetingresults":{"type":"string","description":"cat_steeringmeetingresults"},"cat_goesoncalendar@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_goesoncalendar@OData.Community.Display.V1.FormattedValue"},"cat_goesoncalendar":{"type":"boolean","description":"cat_goesoncalendar"},"cat_type":{"type":"string","description":"cat_type"},"cat_integratedmarketing":{"type":"string","description":"cat_integratedmarketing"},"cat_businessbenefit":{"type":"string","description":"cat_businessbenefit"},"cat_numberofcustomerstargeted":{"type":"string","description":"cat_numberofcustomerstargeted"},"_modifiedby_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_modifiedby_value@OData.Community.Display.V1.FormattedValue"},"_modifiedby_value":{"type":"string","description":"_modifiedby_value"},"utcconversiontimezonecode":{"type":"string","description":"utcconversiontimezonecode"},"cat_customersegment":{"type":"string","description":"cat_customersegment"},"cat_galifttype":{"type":"string","description":"cat_galifttype"},"cat_maprestricted@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"cat_maprestricted@OData.Community.Display.V1.FormattedValue"},"cat_maprestricted":{"type":"boolean","description":"cat_maprestricted"},"cat_targetaudiencesegment":{"type":"string","description":"cat_targetaudiencesegment"},"cat_wearableplanrequirements":{"type":"string","description":"cat_wearableplanrequirements"},"cat_anticipatedvolumetakeratestotal":{"type":"string","description":"cat_anticipatedvolumetakeratestotal"},"cat_keyassumptions":{"type":"string","description":"cat_keyassumptions"},"cat_BusinessOwner":{"type":"object","properties":{"fullname":{"type":"string","description":"fullname"},"firstname":{"type":"string","description":"firstname"},"lastname":{"type":"string","description":"lastname"},"nickname":{"type":"string","description":"nickname"},"systemuserid":{"type":"string","description":"systemuserid"},"ownerid":{"type":"string","description":"ownerid"}},"description":"cat_BusinessOwner"},"cat_Sponsor":{"type":"object","properties":{"fullname":{"type":"string","description":"fullname"},"firstname":{"type":"string","description":"firstname"},"lastname":{"type":"string","description":"lastname"},"nickname":{"type":"string","description":"nickname"},"systemuserid":{"type":"string","description":"systemuserid"},"ownerid":{"type":"string","description":"ownerid"}},"description":"cat_Sponsor"},"createdby":{"type":"object","properties":{"fullname":{"type":"string","description":"fullname"},"firstname":{"type":"string","description":"firstname"},"lastname":{"type":"string","description":"lastname"},"nickname":{"type":"string","description":"nickname"},"systemuserid":{"type":"string","description":"systemuserid"},"ownerid":{"type":"string","description":"ownerid"}},"description":"createdby"},"cat_OriginalCreatedByUser":{"type":"object","properties":{"fullname":{"type":"string","description":"fullname"},"firstname":{"type":"string","description":"firstname"},"lastname":{"type":"string","description":"lastname"},"nickname":{"type":"string","description":"nickname"},"systemuserid":{"type":"string","description":"systemuserid"},"ownerid":{"type":"string","description":"ownerid"}},"description":"cat_OriginalCreatedByUser"},"cat_ProjectTeamRoles_gtmEntry_cat_gtmEntr":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"_cat_teammember_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_cat_teammember_value@OData.Community.Display.V1.FormattedValue"},"_cat_teammember_value":{"type":"string","description":"_cat_teammember_value"},"_cat_gtmentry_value@OData.Community.Display.V1.FormattedValue":{"type":"string","description":"_cat_gtmentry_value@OData.Community.Display.V1.FormattedValue"},"_cat_gtmentry_value":{"type":"string","description":"_cat_gtmentry_value"},"cat_projectteamrolesid":{"type":"string","description":"cat_projectteamrolesid"}}},"description":"cat_ProjectTeamRoles_gtmEntry_cat_gtmEntr"},"cat_ProjectTeamRoles_gtmEntry_cat_gtmEntr@odata.nextLink":{"type":"string","description":"cat_ProjectTeamRoles_gtmEntry_cat_gtmEntr@odata.nextLink"}}},"description":"value"}}}}}}},"/v1.0/me":{},"/contosodev.crm.dynamics.com/api/data/v9.0/workflows":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"uniquename":{"type":"string","description":"uniquename"},"workflowid":{"type":"string","description":"workflowid"}}},"description":"value"}}}}},"summary":"GetBPF","description":"GetBPF","operationId":"GetBPF","parameters":[{"name":"$filter","in":"query","required":false,"type":"string"},{"name":"$select","in":"query","required":false,"type":"string"}]}},"/api/data/v9.0/workflows":{},"/api/data/v9.1/RetrieveActivePath(ProcessInstanceId={ProcessInstanceId})":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"_ownerid_value":{"type":"string","description":"_ownerid_value"},"_processid_value":{"type":"string","description":"_processid_value"},"owningbusinessunit":{"type":"string","description":"owningbusinessunit"},"stagename":{"type":"string","description":"stagename"},"primaryentitytypecode":{"type":"string","description":"primaryentitytypecode"},"clientdata":{"type":"array","items":{"type":"object","properties":{"DisplayName":{"type":"string","description":"DisplayName"},"DisplayLabelId":{"type":"string","description":"DisplayLabelId"},"Type":{"type":"string","description":"Type"},"Field":{"type":"object","properties":{"AttributeName":{"type":"string","description":"AttributeName"},"IsRequired":{"type":"boolean","description":"IsRequired"}},"description":"Field"}}},"description":"clientdata"},"processstageid":{"type":"string","description":"processstageid"},"stagecategory":{"type":"integer","format":"int32","description":"stagecategory"}}},"description":"value"}}}}},"summary":"GetBPFActivePath","description":"GetBPFActivePath","operationId":"GetBPFActivePath","parameters":[{"name":"ProcessInstanceId","in":"path","required":true,"type":"string"}]}},"/api/data/v9.0/new_orbit_initiative_approval_process":{},"/api/data/v9.0/ORBIT_Initiative_Approval_Process":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Create BPF Instance","description":"Create BPF Instance","operationId":"CreateBPFInstance","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"bpf_accountid@odata.bind":{"type":"string","description":"bpf_accountid@odata.bind"},"activestageid@odata.bind":{"type":"string","description":"activestageid@odata.bind"}}}}]}},"/api/data/v9.0/{entityName}":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"CreateAndAssociate","description":"CreateAndAssociate","operationId":"CreateAndAssociate","parameters":[{"name":"entityName","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{}}}]}},"/api/data/v9.0/annotations({stringID})":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"GetFileBase64String","description":"GetFileBase64String","operationId":"GetFileBase64String","parameters":[{"name":"stringID","in":"path","required":true,"type":"string"},{"name":"$select","in":"query","required":false,"type":"string","default":"documentbody"},{"name":"\"documentbody\":","in":"header","required":false,"type":"string"}]}},"/api/data/v9.0/systemusers({userid})/Microsoft.Dynamics.CRM.AddUserToRecordTeam":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"AddUserToAccessTeamTemplate","description":"AddUserToAccessTeamTemplate","operationId":"AddUserToAccessTeamTemplate","parameters":[{"name":"userid","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"Record":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type","title":"","default":"Microsoft.Dynamics.CRM.cat_gtmentry","x-ms-visibility":"internal"},"cat_gtmentryid":{"type":"string","description":"cat_gtmentryid","title":"gtmentryid"}},"description":"Record","required":["@odata.type"]},"TeamTemplate":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type","title":"","default":"Microsoft.Dynamics.CRM.teamtemplate","x-ms-visibility":"internal"},"teamtemplateid":{"type":"string","description":"teamtemplateid","title":"teamtemplateid"}},"description":"TeamTemplate","required":["@odata.type"]}},"required":["Record","TeamTemplate"]}}]}},"/api/data/v9.0/systemusers(\"userID)/Microsoft.Dynamics.CRM.AddUserToRecordTeam":{},"/api/data/v9.0/systemusers(1db92e65-e77b-e911-a833-000d3a375590)/Microsoft.Dynamics.CRM.AddUserToRecordTeam":{},"/api/data/v9.0/systemusers({userID})/Microsoft.Dynamics.CRM.RemoveUserFromRecordTeam":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"RemoveUserFromAccessTeamTeamplate","parameters":[{"name":"userID","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"Record":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type","title":"@odata.type","default":"Microsoft.Dynamics.CRM.cat_gtmentry","x-ms-visibility":"internal"},"cat_gtmentryid":{"type":"string","description":"cat_gtmentryid","title":"cat_gtmentryid"}},"description":"Record","required":["@odata.type","cat_gtmentryid"]},"TeamTemplate":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type","title":"@odata.type","default":"Microsoft.Dynamics.CRM.teamtemplate"},"teamtemplateid":{"type":"string","description":"teamtemplateid","title":"teamtemplateid"}},"description":"TeamTemplate","required":["teamtemplateid"]}},"required":["Record","TeamTemplate"]}}],"operationId":"RemoveUserFromAccessTeamTeamplate"}},"/api/data/v9.0/cat_projectteamroleses":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"PostToProjectTeamRoles","description":"PostToProjectTeamRoles","operationId":"PostToProjectTeamRoles","parameters":[{"name":"\"Accept\":","in":"header","required":false,"type":"string"},{"name":"\"Prefer\":","in":"header","required":false,"type":"string"},{"name":"\"x-ms-user-agent\":","in":"header","required":false,"type":"string"},{"name":"\"x-ms-client-session-id\":","in":"header","required":false,"type":"string"},{"name":"\"x-ms-client-request-id\":","in":"header","required":false,"type":"string"},{"name":"\"Request-Id\":","in":"header","required":false,"type":"string"},{"name":"\"Client-Session-Id\":","in":"header","required":false,"type":"string"},{"name":"\"FormLoadId\":","in":"header","required":false,"type":"string"},{"name":"\"Accept-Language\":","in":"header","required":false,"type":"string"},{"name":"\"Cache-Control\":","in":"header","required":false,"type":"string"},{"name":"\"Content-Type\":","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"cat_name":{"type":"string","description":"cat_name"},"cat_roletype":{"type":"integer","format":"int32","description":"cat_roletype"},"cat_gtmEntry@odata.bind":{"type":"string","description":"cat_gtmEntry@odata.bind"},"cat_TeamMember@odata.bind":{"type":"string","description":"cat_TeamMember@odata.bind"}}}}]}},"/api/data/v9.1/systemusers({UserID})":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"@odata.etag":{"type":"string","description":"@odata.etag"},"systemuserid":{"type":"string","description":"systemuserid"},"accessmode":{"type":"integer","format":"int32","description":"accessmode"},"firstname":{"type":"string","description":"firstname"},"setupuser":{"type":"boolean","description":"setupuser"},"address1_addressid":{"type":"string","description":"address1_addressid"},"incomingemaildeliverymethod":{"type":"integer","format":"int32","description":"incomingemaildeliverymethod"},"internalemailaddress":{"type":"string","description":"internalemailaddress"},"identityid":{"type":"integer","format":"int32","description":"identityid"},"domainname":{"type":"string","description":"domainname"},"_queueid_value":{"type":"string","description":"_queueid_value"},"entityimageid":{"type":"string","description":"entityimageid"},"isintegrationuser":{"type":"boolean","description":"isintegrationuser"},"createdon":{"type":"string","description":"createdon"},"entityimage_timestamp":{"type":"integer","format":"int32","description":"entityimage_timestamp"},"_calendarid_value":{"type":"string","description":"_calendarid_value"},"windowsliveid":{"type":"string","description":"windowsliveid"},"_businessunitid_value":{"type":"string","description":"_businessunitid_value"},"caltype":{"type":"integer","format":"int32","description":"caltype"},"modifiedon":{"type":"string","description":"modifiedon"},"defaultfilterspopulated":{"type":"boolean","description":"defaultfilterspopulated"},"outgoingemaildeliverymethod":{"type":"integer","format":"int32","description":"outgoingemaildeliverymethod"},"title":{"type":"string","description":"title"},"emailrouteraccessapproval":{"type":"integer","format":"int32","description":"emailrouteraccessapproval"},"lastname":{"type":"string","description":"lastname"},"fullname":{"type":"string","description":"fullname"},"issyncwithdirectory":{"type":"boolean","description":"issyncwithdirectory"},"userlicensetype":{"type":"integer","format":"int32","description":"userlicensetype"},"azureactivedirectoryobjectid":{"type":"string","description":"azureactivedirectoryobjectid"},"_modifiedby_value":{"type":"string","description":"_modifiedby_value"},"organizationid":{"type":"string","description":"organizationid"},"defaultodbfoldername":{"type":"string","description":"defaultodbfoldername"},"versionnumber":{"type":"integer","format":"int32","description":"versionnumber"},"isemailaddressapprovedbyo365admin":{"type":"boolean","description":"isemailaddressapprovedbyo365admin"},"invitestatuscode":{"type":"integer","format":"int32","description":"invitestatuscode"},"yomifullname":{"type":"string","description":"yomifullname"},"entityimage_url":{"type":"string","description":"entityimage_url"},"isdisabled":{"type":"boolean","description":"isdisabled"},"userpuid":{"type":"string","description":"userpuid"},"address2_addressid":{"type":"string","description":"address2_addressid"},"_defaultmailbox_value":{"type":"string","description":"_defaultmailbox_value"},"entityimage":{"type":"string","description":"entityimage"},"islicensed":{"type":"boolean","description":"islicensed"},"ownerid":{"type":"string","description":"ownerid"},"address1_fax":{"type":"string","description":"address1_fax"},"address1_postofficebox":{"type":"string","description":"address1_postofficebox"},"address1_upszone":{"type":"string","description":"address1_upszone"},"photourl":{"type":"string","description":"photourl"},"address1_latitude":{"type":"string","description":"address1_latitude"},"address1_shippingmethodcode":{"type":"string","description":"address1_shippingmethodcode"},"address1_utcoffset":{"type":"string","description":"address1_utcoffset"},"_createdonbehalfby_value":{"type":"string","description":"_createdonbehalfby_value"},"homephone":{"type":"string","description":"homephone"},"skills":{"type":"string","description":"skills"},"address2_latitude":{"type":"string","description":"address2_latitude"},"_cat_fullname_value":{"type":"string","description":"_cat_fullname_value"},"_createdby_value":{"type":"string","description":"_createdby_value"},"governmentid":{"type":"string","description":"governmentid"},"_parentsystemuserid_value":{"type":"string","description":"_parentsystemuserid_value"},"address2_stateorprovince":{"type":"string","description":"address2_stateorprovince"},"address2_longitude":{"type":"string","description":"address2_longitude"},"address2_city":{"type":"string","description":"address2_city"},"address1_telephone3":{"type":"string","description":"address1_telephone3"},"mobilephone":{"type":"string","description":"mobilephone"},"address2_fax":{"type":"string","description":"address2_fax"},"preferredaddresscode":{"type":"string","description":"preferredaddresscode"},"address1_name":{"type":"string","description":"address1_name"},"address2_line2":{"type":"string","description":"address2_line2"},"passporthi":{"type":"string","description":"passporthi"},"_territoryid_value":{"type":"string","description":"_territoryid_value"},"_modifiedonbehalfby_value":{"type":"string","description":"_modifiedonbehalfby_value"},"address1_stateorprovince":{"type":"string","description":"address1_stateorprovince"},"applicationid":{"type":"string","description":"applicationid"},"salutation":{"type":"string","description":"salutation"},"address1_county":{"type":"string","description":"address1_county"},"address2_line3":{"type":"string","description":"address2_line3"},"stageid":{"type":"string","description":"stageid"},"address1_longitude":{"type":"string","description":"address1_longitude"},"address1_addresstypecode":{"type":"string","description":"address1_addresstypecode"},"address2_postalcode":{"type":"string","description":"address2_postalcode"},"passportlo":{"type":"string","description":"passportlo"},"importsequencenumber":{"type":"string","description":"importsequencenumber"},"timezoneruleversionnumber":{"type":"string","description":"timezoneruleversionnumber"},"sharepointemailaddress":{"type":"string","description":"sharepointemailaddress"},"yammeruserid":{"type":"string","description":"yammeruserid"},"nickname":{"type":"string","description":"nickname"},"address1_composite":{"type":"string","description":"address1_composite"},"overriddencreatedon":{"type":"string","description":"overriddencreatedon"},"personalemailaddress":{"type":"string","description":"personalemailaddress"},"utcconversiontimezonecode":{"type":"string","description":"utcconversiontimezonecode"},"preferredemailcode":{"type":"string","description":"preferredemailcode"},"address2_composite":{"type":"string","description":"address2_composite"},"address1_telephone1":{"type":"string","description":"address1_telephone1"},"_mobileofflineprofileid_value":{"type":"string","description":"_mobileofflineprofileid_value"},"address2_country":{"type":"string","description":"address2_country"},"address1_line1":{"type":"string","description":"address1_line1"},"yomimiddlename":{"type":"string","description":"yomimiddlename"},"_transactioncurrencyid_value":{"type":"string","description":"_transactioncurrencyid_value"},"address1_line3":{"type":"string","description":"address1_line3"},"address1_line2":{"type":"string","description":"address1_line2"},"address1_city":{"type":"string","description":"address1_city"},"disabledreason":{"type":"string","description":"disabledreason"},"address2_name":{"type":"string","description":"address2_name"},"_positionid_value":{"type":"string","description":"_positionid_value"},"address2_line1":{"type":"string","description":"address2_line1"},"middlename":{"type":"string","description":"middlename"},"preferredphonecode":{"type":"string","description":"preferredphonecode"},"employeeid":{"type":"string","description":"employeeid"},"mobilealertemail":{"type":"string","description":"mobilealertemail"},"address2_telephone2":{"type":"string","description":"address2_telephone2"},"address2_telephone1":{"type":"string","description":"address2_telephone1"},"traversedpath":{"type":"string","description":"traversedpath"},"address2_county":{"type":"string","description":"address2_county"},"yomifirstname":{"type":"string","description":"yomifirstname"},"address2_shippingmethodcode":{"type":"string","description":"address2_shippingmethodcode"},"address2_telephone3":{"type":"string","description":"address2_telephone3"},"yomilastname":{"type":"string","description":"yomilastname"},"displayinserviceviews":{"type":"string","description":"displayinserviceviews"},"address2_addresstypecode":{"type":"string","description":"address2_addresstypecode"},"yammeremailaddress":{"type":"string","description":"yammeremailaddress"},"address1_postalcode":{"type":"string","description":"address1_postalcode"},"exchangerate":{"type":"string","description":"exchangerate"},"jobtitle":{"type":"string","description":"jobtitle"},"address2_postofficebox":{"type":"string","description":"address2_postofficebox"},"address2_upszone":{"type":"string","description":"address2_upszone"},"processid":{"type":"string","description":"processid"},"applicationiduri":{"type":"string","description":"applicationiduri"},"address2_utcoffset":{"type":"string","description":"address2_utcoffset"},"address1_telephone2":{"type":"string","description":"address1_telephone2"},"address1_country":{"type":"string","description":"address1_country"}}}}},"summary":"Get User Record","operationId":"GetUserRecord","parameters":[{"name":"UserID","in":"path","required":true,"type":"string"}]}},"/api/data/v9.1/systemusers({SystemUserID})/Microsoft.Dynamics.CRM.RetrievePrincipalAccess(Target =@Target)":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"AccessRights":{"type":"string","description":"AccessRights"}}}}},"summary":"GetUserRecordPermissions","operationId":"GetUserRecordPermissions","parameters":[{"name":"SystemUserID","in":"path","required":true,"type":"string"},{"name":"@Target","in":"query","required":false,"type":"string","default":"{'@odata.id' : 'cat_gtmentries(1f43fd09-8c7b-ea11-a812-000d3a59c3b2)'}"}]}},"/GET /api/data/v9.1/systemusers(671f9375-208d-4b27-9460-563e08f57106)/Microsoft.Dynamics.CRM.RetrievePrincipalAccess(Target =@Target)":{},"/api/data/v9.1/systemusers(UserID)/Microsoft.Dynamics.CRM.RetrievePrincipalAccess(Target =@Target)":{},"/api/data/v9.0/annotations":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"AddAttachment","description":"AddAttachment","operationId":"AddAttachment","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"filename":{"type":"string","description":"filename"},"documentbody":{"type":"string","description":"documentbody"},"subject":{"type":"string","description":"subject"},"objectid_cat_gtmattachments@odata.bind":{"type":"string","description":"objectid_cat_gtmattachments@odata.bind"}}}}]}},"/api/data/v9.0/systemusers":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"nickname":{"type":"string","description":"nickname"},"fullname":{"type":"string","description":"fullname"},"firstname":{"type":"string","description":"firstname"},"lastname":{"type":"string","description":"lastname"},"azureactivedirectoryobjectid":{"type":"string","description":"azureactivedirectoryobjectid"},"systemuserid":{"type":"string","description":"systemuserid"},"ownerid":{"type":"string","description":"ownerid"}}},"description":"value"}}}}},"summary":"GetUsers","operationId":"GetUsers","description":"GetUsers","parameters":[{"name":"$select","in":"query","required":false,"type":"string"},{"name":"$filter","in":"query","required":false,"type":"string"},{"name":"$orderby","in":"query","required":false,"type":"string"}]}},"/api/data/v9.0/EntityDefinitions(LogicalName='cat_gtmentry')/Attributes/Microsoft.Dynamics.CRM.PicklistAttributeMetadata":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"LogicalName":{"type":"string","description":"LogicalName"},"MetadataId":{"type":"string","description":"MetadataId"},"OptionSet":{"type":"object","properties":{"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"IsCustomOptionSet":{"type":"boolean","description":"IsCustomOptionSet"},"IsGlobal":{"type":"boolean","description":"IsGlobal"},"IsManaged":{"type":"boolean","description":"IsManaged"},"Name":{"type":"string","description":"Name"},"ExternalTypeName":{"type":"string","description":"ExternalTypeName"},"OptionSetType":{"type":"string","description":"OptionSetType"},"IntroducedVersion":{"type":"string","description":"IntroducedVersion"},"ParentOptionSetName":{"type":"string","description":"ParentOptionSetName"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Description"},"DisplayName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"DisplayName"},"IsCustomizable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsCustomizable"},"Options":{"type":"array","items":{"type":"object","properties":{"Value":{"type":"integer","format":"int32","description":"Value"},"Color":{"type":"string","description":"Color"},"IsManaged":{"type":"boolean","description":"IsManaged"},"ExternalValue":{"type":"string","description":"ExternalValue"},"ParentValues":{"type":"array","items":{},"description":"ParentValues"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"Label":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Label"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Description"}}},"description":"Options"}},"description":"OptionSet"}}},"description":"value"}}}}},"summary":"GetOptionSets","description":"GetOptionSets","operationId":"GetOptionSets","parameters":[{"name":"$select","in":"query","required":false,"type":"string","default":"LogicalName"},{"name":"$expand","in":"query","required":false,"type":"string","default":"OptionSet"}]}},"/api/data/v9.0/EntityDefinitions(LogicalName='cat_gtmentry')":{},"/api/data/v9.0/GlobalOptionSetDefinitions(Name='{OptionSetName}')":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"@odata.type":{"type":"string","description":"@odata.type"},"ParentOptionSetName":{"type":"string","description":"ParentOptionSetName"},"IsCustomOptionSet":{"type":"boolean","description":"IsCustomOptionSet"},"IsGlobal":{"type":"boolean","description":"IsGlobal"},"IsManaged":{"type":"boolean","description":"IsManaged"},"Name":{"type":"string","description":"Name"},"ExternalTypeName":{"type":"string","description":"ExternalTypeName"},"OptionSetType":{"type":"string","description":"OptionSetType"},"IntroducedVersion":{"type":"string","description":"IntroducedVersion"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"Options":{"type":"array","items":{"type":"object","properties":{"Value":{"type":"integer","format":"int32","description":"Value"},"Color":{"type":"string","description":"Color"},"IsManaged":{"type":"boolean","description":"IsManaged"},"ExternalValue":{"type":"string","description":"ExternalValue"},"ParentValues":{"type":"array","items":{},"description":"ParentValues"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"Label":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Label"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Description"}}},"description":"Options"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Description"},"DisplayName":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"DisplayName"},"IsCustomizable":{"type":"object","properties":{"Value":{"type":"boolean","description":"Value"},"CanBeChanged":{"type":"boolean","description":"CanBeChanged"},"ManagedPropertyLogicalName":{"type":"string","description":"ManagedPropertyLogicalName"}},"description":"IsCustomizable"}}}}},"summary":"GetSingleOptionSet","description":"GetSingleOptionSet","operationId":"GetSingleOptionSet","parameters":[{"name":"OptionSetName","in":"path","required":true,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2_auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"oauth2_auth":[]}],"tags":[]}